@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');


$primary: 'Muli', sans-serif;
$handwrite: 'Shadows Into Light', cursive;

* {
  font-family: $primary;
}